* {
    box-sizing: border-box;
    margin: auto;
}

.Bai2 {
    width: 50%;
    height: auto;
    background-color: #ffd078;
    padding: 20px;
}

.Bai2 p {
    font-size: 40px;
    font-weight: 600;
}

.Bai3 p {
    width: 50%;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 12px #0a0a0a;
}